{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended", "prettier"],
  "parserOptions": { "ecmaVersion": 2018, "sourceType": "module" },
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "plugins": ["prettier"],
  "rules": {
    "no-console": ["error", { "allow": ["error"] }],
    "no-var": "error",
    "eqeqeq": "error"
  }
}